
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#272D3B;
  --red:#069f1f;
  --coral:#069f1f;
  --gradient:linear-gradient(90deg, var(--red), var(--coral));
}






.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.features .box-container .box{
  margin:1rem;
  border-radius: .5rem;
  text-align: center;
  background:rgba(237, 23, 111,.05);
  padding:1rem;
  flex:1 1 30rem;
  cursor: pointer;
}

.features .box-container .box i{
  color:var(--red);
  font-size: 5rem;
  padding:1rem;
}

.features .box-container .box h3{
  color:var(--black);
  font-size: 2.4rem;
}

.features .box-container .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem;
}

.features .box-container .box:hover{
  background:var(--gradient);
}

.features .box-container .box:hover > *{
  color:#fff;
}
